body {
    padding: 0;
    margin: 0;
    background-color: black;
}

div > * {
    display: block;
    padding-bottom: 0.4em;
}

.countdown-container {
    width: 50vw;
    margin-left: auto;
    margin-right: auto;

    margin-top: 35vh;
    text-align: center;

    color: white;
    font-family: monospace;
    font-size: 8em;
}
